
<table>
    <tr>
        <td colspan="2">
                <h1 style="color: #EE5647">You are @ home</h1>
        </td>
    </tr>
    <tr>
        <td id="tdpadding"><button class="button" (click)="Navigate('Twoway')"><span>{{twoway}}</span></button></td>
        <td id="tdpadding"><button class="button" (click)="Navigate('Customer')"><span>{{customer}}</span></button></td>
    </tr>
    <tr>
        <td id="tdpadding"><button class="button" (click)="Navigate('Sharing')"><span>{{sharing}}</span></button></td>
        <td id="tdpadding"><button class="button" (click)="Navigate('Attribute')"><span>{{attribute}}</span></button></td>
    </tr>
    <tr>        
        <td id="tdpadding" ><button class="button" (click)="Navigate('Structural')"><span>{{structural}}</span></button></td>
        <td id="tdpadding" ><button class="button" (click)="Navigate('Todo')"><span>{{todo}}</span></button></td>
    </tr>
</table>

